include navbar
.container(id='usersProfileContainer')
    .container
        h3 Welcome back. We hope you've been staying active and meeting your goals.

    .col-md-6.m-b-md
        .list-group
            h3.list-group-header
                | Recent Activity
                a.btn.btn-success-outline.pull-right(id='addActivityButton', data-toggle='modal', data-target='#addActivityModal') Add

            - var prettyDate = function(dateObject) {
            -   var m = dateObject.getMonth() + 1; // bc js is weird
            -   var d = dateObject.getDate();
            -   var y = dateObject.getFullYear();
            -   return m + '/' + d + '/' + y;
            - }

            .list-group
                for val in user_activity_result
                    - var goodD = prettyDate(val.date_done);
                    - var activityLogId = val.id;
                    - var name = val.name;
                    - var details = val.details;
                    - var nameAndDetails = name + "   --   " + details;
                    .list-group-item(id='user_table_data')= nameAndDetails
                        #editDeleteContainer.pull-right
                            #goodD #{goodD}
                                form(action='/activityLog/delete' method='get', id='deleteForm')
                                    for val in user_info_result
                                        - var data = val.id;
                                        input(type='hidden', name='userId', value=data)
                                    input(type='hidden', name='activityLogToDelete', value=activityLogId)
                                    button.btn.btn-primary-outline(class='editDeleteButtons' type='submit')
                                        span.icon.icon-erase


    .col-md-6.m-b-md
        .list-group
            h3.list-group-header
                | Goals
                a.btn.btn-success-outline.pull-right(data-toggle='modal', data-target='#addGoalModal') Add
            for val in goal_result
                - var goal_name = val.name;
                - var act_name = val.a_name;
                - var actNameAndGoalName = act_name + "  --  " + goal_name;
                - var goalToDelete = val.id;
                a.list-group-item(id='user_table_data')= actNameAndGoalName
                    #editDeleteContainer.pull-right
                        form(action='/goals/delete' method='get', id='deleteForm')
                            for val in user_info_result
                                - var data = val.id;
                                input(type='hidden', name='userId', value=data)
                            input(type='hidden', name='goalToDelete', value=goalToDelete)
                            button.btn.btn-primary-outline(class='editDeleteButtons' type='submit')
                                span.icon.icon-erase




// Modal
#addActivityModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') x
                h4.modal-title Your activity details:

            form(action='/activityLog/insert' method='get', class='activityForm')
                .modal-body
                    .container(class='activityForm')
                        h4(class='activityHelpMessage') Please only select one activity
                            .form-group
                                for val in user_info_result
                                    - var data = val.id;
                                    input(type='hidden', name='userId', value=data)

                            .form-group
                                select.custom-select(class='addFormItem', name='activityId')
                                    option(value='', disabled='', selected='') Cardio
                                    for val in cardio_list
                                        - var name = val.name;
                                        option(value=val.id) #{name}

                            .form-group
                                select.custom-select(class='addFormItem', name='activityId')
                                    option(value='', disabled='', selected='') Weights
                                    for val in weights_list
                                        - var name = val.name;
                                        option(value=val.id) #{name}

                            .form-group
                                .input-group(class='addFormItem')
                                    input.form-control(type='text', name='dateDone', class='dateDone', value='09/01/2017', data-provide='datepicker', style='width: 200px;')

                            .form-group
                                textarea.form-control(name='activityDetails', class='addFormItem', type='text', class='activityDetails', placeholder='Any important details you want to save?')

                .modal-footer
                    button.btn.btn-default(type='submit') Submit
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel


// Modal
#addGoalModal.modal.fade(role='dialog')
    .modal-dialog
        // Modal content
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal') ×
                h4.modal-title Your goal details:
            form(action='/goals/insert' method='get', id='goalForm')
                .modal-body
                    .container(id='addGoalForm')
                        .form-group
                            for val in user_info_result
                                - var data = val.id;
                                input(type='hidden', name='userId', value=data)
                        .form-group
                            select.custom-select(class='addFormItem', name='activityId')
                                option(value='', disabled='', selected='') Cardio
                                for val in cardio_list
                                    - var name = val.name;
                                    option(value=val.id) #{name}
                        .form-group
                            select.custom-select(class='addFormItem', name='activityId')
                                option(value='', disabled='', selected='') Weights
                                for val in weights_list
                                    - var name = val.name;
                                    option(value=val.id) #{name}
                        .form-group
                            .input-group(class='addFormItem')
                                input.form-control(name='goalName', type='text', id='goalName', placeholder='What is your goal?')
                .modal-footer
                    button.btn.btn-default(type='submit') Submit
                    button.btn.btn-default(type='button', data-dismiss='modal') Cancel


    // Include jQuery (required) and the JS
script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
script(src='/scripts/toolkit.min.js')
